server:
  port: 9889
spring:
  datasource:
    dynamic:
      primary: master
      strict: false
      datasource:
        master:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://pc-2zep03l26l5u8374h.rwlb.rds.aliyuncs.com:3306/strix?useSSL=true&serverTimezone=Asia/Shanghai&autoReconnect=true
          username: strix
          password: Str1XP8Pr0j3cTAAAm
          type: com.zaxxer.hikari.HikariDataSource
          hikari:
            keepalive-time: 60000
            max-lifetime: 120000
            maximum-pool-size: 4
        clickhouse:
          driver-class-name: com.clickhouse.jdbc.ClickHouseDriver
          url: jdbc:clickhouse://192.168.31.188:8123/strix?socket_timeout=300000
          username: root
          password: S1V/holh
          type: com.zaxxer.hikari.HikariDataSource
          hikari:
            keepalive-time: 60000
            max-lifetime: 120000
            maximum-pool-size: 4
  data:
    redis:
      database: 6
      host: 127.0.0.1
      port: 6379
      password:
      lettuce:
        shutdown-timeout: 100
        pool:
          max-active: 1
          max-idle: 1
          min-idle: 1
