server:
  port: 9889
  shutdown: graceful
  tomcat:
    threads:
      min-spare: 10
      max: 100
    connection-timeout: 5000
    max-connections: 1000
spring:
  datasource:
    dynamic:
      primary: master
      strict: false
      datasource:
        master:
          #          driver-class-name: com.p6spy.engine.spy.P6SpyDriver
          #          url: jdbc:p6spy:mysql://192.168.31.188:3366/strix?useSSL=true&serverTimezone=Asia/Shanghai&autoReconnect=true&rewriteBatchedStatements=true
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://192.168.31.188:3366/strix?useSSL=true&serverTimezone=Asia/Shanghai&autoReconnect=true&rewriteBatchedStatements=true
          username: root
          password: AnAn@8899#
          type: com.zaxxer.hikari.HikariDataSource
          hikari:
            keepalive-time: 60000
            max-lifetime: 120000
            maximum-pool-size: 4
        clickhouse:
          driver-class-name: com.clickhouse.jdbc.ClickHouseDriver
          url: jdbc:clickhouse://192.168.31.188:8123/strix?socket_timeout=300000
          username: root
          password: S1V/holh
          type: com.zaxxer.hikari.HikariDataSource
          lazy: true
          hikari:
            keepalive-time: 60000
            max-lifetime: 120000
            maximum-pool-size: 4
  data:
    redis:
      database: 0
      host: 192.168.31.188
      port: 6379
      password: str1Xredis
      lettuce:
        shutdown-timeout: 100
        pool:
          max-active: 1
          max-idle: 1
          min-idle: 1
