name: Build and Run with Docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          clean: false
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Start Docker Container
        run: docker restart strix-java
      - name: Copy New Jar File
        run: docker cp ./build/libs/Strix.jar strix-java:/strix/strix.jar
      - name: Run Jar With Java
        run: docker exec -i strix-java bash -c "nohup java -jar -server -Xms1024m -Xmx1024m strix.jar --spring.profiles.active=test > strix.log 2>&1 &"
