name: Build and Run with Docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          clean: false
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Check Docker Container Exist If Not Create
        run: docker ps -a | grep Strix > /dev/null || docker run -p 9889:80 --name Strix -d spring-boot-app:latest
      - name: Kill App In Docker Container
        run: docker exec -i Strix bash -c "pkill -f /mnt/app.jar && echo 'Process killed.' || echo 'Process not found.'" || true
      - name: Copy Jar File To Docker Container
        run: docker cp ./build/libs/Strix.jar Strix:/mnt/app.jar
      - name: Run Jar With Java In Docker Container
        run: docker exec -i Strix bash -c "nohup java -jar -server -Xms1024m -Xmx1024m /mnt/app.jar --spring.profiles.active=test > /mnt/app.log 2>&1 &"
